*{  /* tira as margens e espaços definidos como padrões do navegador */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100vw;    /*vw indica largura total de tela visível*/
	height: 100vh;   /*vh indica altura toral de tela visível*/
	display: flex;
	justify-content: center;   /*centraliza na horizontal*/
	align-items: center;       /*centraliza na vertical*/
	padding: 1em;
	background-color: #3f88aa;
}
form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-items: center;
	background-color: #FFF;
	margin: 1em;
	padding: 1em;
	border: 2px solid #000;
	border-radius: 5px;
}
.nome{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 1.5em;
	width: 20em;
	font-family: sans-serif;

}
.nome p{
	display: flex;
	align-items: center;
	margin-right: 5px;
}
.nome input{
	padding: 3px;
	margin: 2px;
}
.imp{
	display: flex;
	margin-top: 25px;
	position: relative;
	height: 2em;
	width: 10em;
	font-family: sans-serif;
	align-items: center;
	justify-content: center;
	color: #e11;
	background-color: #111;
	font-weight: bold;
	cursor: pointer;
}
.imp:hover{
	color: #f00;
	background-color: #222;
}
.imp:active{
	color: #fff;
	background-color: #333;
}
